.wrapper {
    margin: auto;
    width: 90vw;
    min-height: 100vh;
}

.titulo {
    color: blue;
}

.card {
    width: 30%;
    display: inline-block;
}

.card-img {
    height: 400px;
    border: 5px solid rgb(58, 154, 82);
    margin: 20px;
}

h1 {
    text-align: center;
    background-color: rgb(58, 154, 82);
    color: rgb(255, 0, 0);
    height: 50px;
}